<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>главнвя страница</title>
</head>
<body>
    <aside>
        <p>wuiefhiuecnuhewcuhoyglnasbvka</p>
    </aside>
    <form>
        <select>
            <option>иыишислоыт</option>
            <option>xnjjnj</option>
            <opyion>ssdasc</opyion>
        </select>
        <button>lfdfq</button>
    </form>
    <p>naju и я учу суру Мульк</p>
    <a>ссылка</a>
</body>
</html>